# Copy to .env if you prefer environment-variable overrides.
# Never place an account, password, Cookie, Authorization header, or token here.
TARGET_DATETIME=2026-09-01T15:30:00+08:00
TIMEZONE=Asia/Shanghai
SIS_URL=https://sisn.hkust-gz.edu.cn/
SHOPPING_CART_URL=https://sisn.hkust-gz.edu.cn/student/student-my-cart
BROWSER_CHANNEL=msedge
USER_DATA_DIR=.private/browser-profile
ENROLL_BUTTON_SELECTOR=button.btn-cart-enrol
SELECT_ALL_CHECKBOX_SELECTOR=div.mine-select input.el-checkbox__original[type="checkbox"][value="Select All"]
SELECT_ALL_CLICK_TARGET_SELECTOR=div.mine-select label.el-checkbox:has(input.el-checkbox__original[type="checkbox"][value="Select All"])
ENABLE_PRE_REFRESH=true
REFRESH_BEFORE_SECONDS=2
KEEP_BROWSER_OPEN_AFTER_RUN=true
REQUIRE_ARM_PHRASE_CONFIRMATION=false
CLICK_CONFIRMATION_BUTTON=false
CONFIRMATION_BUTTON_SELECTOR=
SCREENSHOT_DIR=var/screenshots
LOG_FILE=var/enroll-click.log
LOCK_FILE=.private/enroll-click.lock
